:root {
    --color-primary: rgb(243, 49, 85);
    --color-primary-dark: #f33155;

    --color-secondary: rgb(30, 124, 235);

    --color-success: rgb(21, 181, 95);

    --color-warning: rgb(222, 201, 89);

    --color-black-primary: #2f323e;

    --color-body-primary: rgb(237, 241, 245);
    --color-login-primary: rgb(232, 232, 232);
}
