body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.button-primary, .button-primary:hover {
    background: var(--color-primary);
    /* border-radius: 3px;
    border: none;
    padding: 7px 18px; */
    outline: none;
    color: white;
}

.button-secondary, .button-secondary:hover {
    background: var(--color-secondary);
    /* border-radius: 3px;
    border: none;
    padding: 7px 18px; */
    outline: none;
    color: white;
}

.button-warning, .button-warning:hover {
    background: var(--color-warning);
    /* border-radius: 3px;
    border: none;
    padding: 7px 18px; */
    outline: none;
    color: white;
}

.body-section {
    background: white;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 4px var(--color-black-primary: #2f323e);
    padding: 15px 40px;
}

.body-section:nth-child(1n + 2) {
    margin-top: 19px;
}
