body, html {
    background: var(--color-body-primary);
    /*background: #333;*/
}

.left-side-bar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    /*background: white;*/
    background: red;
    color: white;
}

body > .left-side-bar > .sub-left-side-bar > a {
    width: 100%;
    padding-left: 28%;
}

.left-side-separator {
    border: 0;
    border-top: 1px solid #fff;
    opacity: .45;
    width: 90%;
    background: #fff;
    margin: 0 0 0 5%;
}

.left-side-bar > a, .left-side-bar > .sub-left-side-bar > a {
    display: block;
    width: 100%;
    /*color: #444;*/
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.left-side-bar .active {
    font-weight: bold;
    /*border-left: 4px solid;*/
    /*border-color: var(--color-primary-dark);*/
    background: white;
    color: #222;
    /*background: var(--color-body-primary);*/
    padding-left: 26px;
}

.left-side-bar > .sub-left-side-bar > a:hover, .left-side-bar > a:hover {
    background: white;
    /*background: #333;*/
    cursor: pointer;
    color: #222;
}

.left-side-bar-title {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    margin-top: 27px;
}

.left-side-bar-title > span > i {
    font-size: 25px;
    margin-left: 20px;
}

.left-side-bar-title > span {
    font-weight: bold;
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bappeda-logo {
    width: 75px;
    height: 75px;
}
