body, html {
    /*background: var(--color-body-primary);*/
    background: #333;
}

.left-side-bar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    /*background: white;*/
    background: red;
    color: white;
}

body > .left-side-bar > .sub-left-side-bar > a {
    width: 100%;
    padding-left: 28%;
}

.left-side-bar > a, .left-side-bar > .sub-left-side-bar > a {
    display: block;
    width: 100%;
    /*color: #444;*/
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.left-side-bar .active {
    font-weight: bold;
    /*border-left: 4px solid;*/
    /*border-color: var(--color-primary-dark);*/
    background: #333;
    color: white;
    /*background: var(--color-body-primary);*/
    padding-left: 26px;
}

.left-side-bar > .sub-left-side-bar > a:hover, .left-side-bar > a:hover {
    /*background: var(--color-body-primary);*/
    background: #333;
    cursor: pointer;
    color: white;
}

.left-side-bar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

.left-side-bar-title > span {
    font-weight: bold;
    margin-left: 8px;
}

.left-side-bar-title > img {
    width: 50px;
    height: 50px;
}
