.header {
    width: calc(100% - 251px);
    position: fixed;
    height: 120px;
    background: red;
    left: 251px;
    z-index: 5;
    color: white;
    display: flex;
}

.header-title {
    text-align: center;
    font-size: 20px;
    width: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > .header-account {
    height: 100%;
    margin-left: auto;
    padding-left: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header > .header-account:hover {
    background: #212121;
}

.dropdown-container {
    display: none;
}

.header > .header-account:hover .dropdown-container {
    display: block;
}

.header > .header-account > img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
    object-fit: cover;
}

.header > .header-account > .header-account-username {
    margin-right: 10px;
    font-weight: bold;
}

.header-account-option {
    width: 100%;
    position: absolute;
    top: 118px;
}

.header-account-option-container {
    width: 250px;
    background: #ddd;
    position: absolute;
    right: 0;
}

.header-account-option-container > button {
    width: 100%;
    padding: 7px 0;
    border: none;
    background: #fff;
    outline: none;
    color: black;
}

.dropdown-container {
    right: 10px;
}
