.image-upload {
    /*background: blue;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    width: 150px;
    height: 170px;
}

#image-file-input-button {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
}

.image-upload-container input[type='file'] {
    display: none;
}

.image-upload-container img {
    width: 100%;
    height: calc(100% - 35px);
}
